#article{
	width: 1100px;
	height: 1500px;
	padding-top:40px;
	margin:0 auto;
	box-sizing:border-box;
}
#art_left{
	width: 228px;
	height: 1408px;
	border:1px solid #ddd;
}
#art_right{
	width: 850px;
	height: 1408px;
	margin-left:20px;
}
#art_left,#art_right{
	float:left;
}
#art_left h2{
	height: 60px;
	line-height:60px;
	width: 228px;
	border-bottom:1px solid #ddd;
	font-size:18px;
	color:#333;
	font-weight:bold;
	padding-left:20px;
	box-sizing:border-box;
}
.art_btn>div>a,.art_btn>div>p>a{
	display:block;
	font-size:14px;
	color:#333;
}
.art_btn>div{
	margin-top:10px;
}
.art_btn>div>p{
	text-indent:20px;
	line-height:40px;
	height: 40px;
	margin-bottom:5px;
}
.art_btn>div>p:hover{
	background:#efefef;
}
.art_btn>div>p.active{
	background:#efefef;
	border-left: 4px solid #e9280c;
}
.art_btn>div>a{
	text-indent:40px;
	line-height:35px;
	line-height:35px;
}
.art_btn>div>a:hover{
	background:#efefef;
}
.art_btn>div>a.active{
	background:#efefef;
}
.a_first_top{
	width: 850px;
	height: 60px;
	line-height:60px;
	border-bottom:1px solid #ddd;
	box-sizing:border-box;
	padding:0 10px;
}
.a_first_top h3{
	font-size:18px;
	color:#555;
	font-weight:normal;
	float:left;
}
.a_first_top p{
	float:right;
}
.a_first_top p{
	color:#999;
}
.a_first_top p a{
	color:#999;
	font-size:12px;
}
.list_title{
	display:none;
}
.list_title.active{
	display:block;
}
.a_list1{
	display:block;
	width: 245px;
	height: 225px;
	border:1px solid #ddd;
	float:left;
	margin:30px 20px 0 15px;
}
.a_list1 p{
	font-size:12px;
	color:#333;
	padding-top:16px;
	padding-left:10px;
	box-sizing:border-box;
	border-top:1px solid #ddd;
}
.a_list1:hover .a_list_img{
	opacity:0.65;
}
.a_list_img{
	width: 245px;
	height: 160px;
}
#art_right>div{
	display:none;
}
#art_right>div.active{
	display:block;
}
#pagination1{
	width: 600px;
	margin:30px auto;
	text-align:center;
}
#pagination2{
	width: 600px;
	margin:30px auto;
	text-align:center;
}